header {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background: url(https://i.imgur.com/3LA6E44.jpg) no-repeat;
    background-size: 50%;
    background-position: 100% 100%;

    & h1 {
        font-family: $heading-font;
        flex-grow: 2;
        display: flex;
        align-items: center;
        font-size: 72px;

        & span {
            font-weight: 800;
        }
    }

    & nav {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 48px;
        background: $black;

        & ul {
            & li {
                float: left;

                & a {
                    display: flex;
                    height: 100%;
                    padding: 0 16px;
                    margin: 0 8px;
                    text-decoration: none;
                    color: $white;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background: lighten($black, 10%);
                    }
                }
            }
        }
    }
}