section {
    width: $desktop;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;

    & h2 {
        font-family: $heading-font;
        flex-grow: 2;
        font-size: 72px;
        margin: 32px 0 64px 0;
        position: relative;
        display: block;
        text-align: center;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background: $brand;
            bottom: -8px;
            right: 0;
            background: linear-gradient(to right, rgba($brand, 0) 0%, rgba($brand, 1) 25%, rgba($brand, 1) 75%, rgba($brand, 0) 100%);
        }
    }

    & p {
        margin-bottom: 16px;
    }
}

hr {
    display: none;
}

footer {
    width: 100%;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    box-sizing: border-box;
    color: darken($white, 50%);
    padding: $footer-padding 64px;

    & p {
        display: block;
        font-size: 28px;
        line-height: 28px;

        & a {
            color: darken($white, 20%);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}