@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,800");

@import "./_reset";

$white: #FBFBFB;
$black: #222;
$heading-font: "Montserrat", sans-serif;
$body-font: "Lato", sans-serif;

body {
    color: black;
    font-family: $body-font;
}

h2 {
    font-family: $heading-font;
    flex-grow: 2;
    display: flex;
    align-items: center;
    font-size: 36px;
    margin: 32px;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darken($white, 30%);

    & p {
        background: $black;
        display: block;
        padding: 16px 12px;

        & a {
            color: darken($white, 20%);
        }
    }
}

@import "./_contact";
@import "./_hero";