@import url("https://fonts.googleapis.com/css?family=Lato|Wellfleet:400,800");

@import "./_reset";

// Colors
$white: #FBFBFB;
$brand: #BE1F00;
$black: #222;
$shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);

// Fonts
$heading-font: "Wellfleet", sans-serif;
$body-font: "Lato", sans-serif;

// Sizes
$desktop: 1200px;
$navbar-height: 48px;
$footer-height: 64px;
$footer-padding: 16px;

body {
    color: black;
    font-family: $body-font;
}

section p {
    font-size: 26px;
}

footer {
    width: 100%;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $brand;
    color: darken($white, 30%);

    & p {
        display: block;
        padding: $footer-padding 12px;

        & a {
            color: darken($white, 20%);
        }
    }
}

@import "./_layout";

// Sections
@import "./sections/_contact";
@import "./sections/_hero";